skills/sf-fs-datacapture/references/example-safety-hazard-check.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>Access_Blocked</name>
        <choiceText>Blocked - Cannot Access</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Blocked</stringValue>
        </value>
    </choices>
    <choices>
        <name>Access_Clear_Choice</name>
        <choiceText>Clear - No Issues</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Clear</stringValue>
        </value>
    </choices>
    <choices>
        <name>Access_Locked</name>
        <choiceText>Locked - Waiting for Access</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Locked</stringValue>
        </value>
    </choices>
    <choices>
        <name>Access_Partial</name>
        <choiceText>Partially Obstructed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Partial</stringValue>
        </value>
    </choices>
    <choices>
        <name>Access_Restricted</name>
        <choiceText>Restricted - Escort/Key Required</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Restricted</stringValue>
        </value>
    </choices>
    <choices>
        <name>Clear</name>
        <choiceText>Clear</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Clear</stringValue>
        </value>
    </choices>
    <choices>
        <name>Conditional_Safe</name>
        <choiceText>Conditional - After Mitigation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Conditional</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ear_Protection</name>
        <choiceText>Ear Protection</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ear Protection</stringValue>
        </value>
    </choices>
    <choices>
        <name>Extreme_Heat</name>
        <choiceText>Extreme Heat</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Extreme Heat</stringValue>
        </value>
    </choices>
    <choices>
        <name>Fall_Protection</name>
        <choiceText>Fall Protection/Harness</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fall Protection</stringValue>
        </value>
    </choices>
    <choices>
        <name>Foggy</name>
        <choiceText>Foggy/Low Visibility</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Foggy</stringValue>
        </value>
    </choices>
    <choices>
        <name>Hard_Hat</name>
        <choiceText>Hard Hat</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hard Hat</stringValue>
        </value>
    </choices>
    <choices>
        <name>Hazard_Biological</name>
        <choiceText>Biological/Animals/Insects</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Biological</stringValue>
        </value>
    </choices>
    <choices>
        <name>Hazard_Chemical</name>
        <choiceText>Chemical/Hazardous Materials</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Chemical</stringValue>
        </value>
    </choices>
    <choices>
        <name>Hazard_Confined</name>
        <choiceText>Confined Space</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ConfinedSpace</stringValue>
        </value>
    </choices>
    <choices>
        <name>Hazard_Electrical</name>
        <choiceText>Electrical/High Voltage</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Electrical</stringValue>
        </value>
    </choices>
    <choices>
        <name>Hazard_Excavation</name>
        <choiceText>Open Excavation/Trench</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Excavation</stringValue>
        </value>
    </choices>
    <choices>
        <name>Hazard_Falling</name>
        <choiceText>Fall Hazard/Heights</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FallHazard</stringValue>
        </value>
    </choices>
    <choices>
        <name>Hazard_Noise</name>
        <choiceText>Excessive Noise</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Noise</stringValue>
        </value>
    </choices>
    <choices>
        <name>Hazard_Traffic</name>
        <choiceText>Vehicle/Traffic Exposure</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Traffic</stringValue>
        </value>
    </choices>
    <choices>
        <name>Hazard_Underground</name>
        <choiceText>Underground Utilities</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>UndergroundUtilities</stringValue>
        </value>
    </choices>
    <choices>
        <name>Hazard_Weather</name>
        <choiceText>Severe Weather</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SevereWeather</stringValue>
        </value>
    </choices>
    <choices>
        <name>Icy</name>
        <choiceText>Icy/Slippery Conditions</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Icy</stringValue>
        </value>
    </choices>
    <choices>
        <name>Insulated_Gloves</name>
        <choiceText>Insulated Gloves</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Insulated Gloves</stringValue>
        </value>
    </choices>
    <choices>
        <name>Locate_Completed</name>
        <choiceText>Completed and Marked</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Completed</stringValue>
        </value>
    </choices>
    <choices>
        <name>Locate_NA</name>
        <choiceText>Not Applicable</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NA</stringValue>
        </value>
    </choices>
    <choices>
        <name>Locate_Not_Done</name>
        <choiceText>Required - Not Yet Requested</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NotDone</stringValue>
        </value>
    </choices>
    <choices>
        <name>Locate_Pending</name>
        <choiceText>Requested - Pending</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pending</stringValue>
        </value>
    </choices>
    <choices>
        <name>LOTO_Completed_Choice</name>
        <choiceText>Required - Completed and Verified</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Completed</stringValue>
        </value>
    </choices>
    <choices>
        <name>LOTO_NA</name>
        <choiceText>Not Applicable</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NA</stringValue>
        </value>
    </choices>
    <choices>
        <name>LOTO_Partial</name>
        <choiceText>Required - Partially Completed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Partial</stringValue>
        </value>
    </choices>
    <choices>
        <name>LOTO_Required_Not_Done</name>
        <choiceText>Required - Not Yet Completed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RequiredPending</stringValue>
        </value>
    </choices>
    <choices>
        <name>Not_Safe</name>
        <choiceText>NOT Safe - Stop Work</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NotSafe</stringValue>
        </value>
    </choices>
    <choices>
        <name>Raining</name>
        <choiceText>Raining</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Raining</stringValue>
        </value>
    </choices>
    <choices>
        <name>Respirator</name>
        <choiceText>Respirator/Mask</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Respirator</stringValue>
        </value>
    </choices>
    <choices>
        <name>Safe_Proceed</name>
        <choiceText>Safe to Proceed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Safe</stringValue>
        </value>
    </choices>
    <choices>
        <name>Safe_With_Caution</name>
        <choiceText>Safe with Precautions</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SafeWithCaution</stringValue>
        </value>
    </choices>
    <choices>
        <name>Safety_Glasses</name>
        <choiceText>Safety Glasses</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Safety Glasses</stringValue>
        </value>
    </choices>
    <choices>
        <name>Safety_Vest</name>
        <choiceText>Safety Vest</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Safety Vest</stringValue>
        </value>
    </choices>
    <choices>
        <name>Snowing</name>
        <choiceText>Snowing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Snowing</stringValue>
        </value>
    </choices>
    <choices>
        <name>Steel_Toe_Boots</name>
        <choiceText>Steel Toe Boots</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Steel Toe Boots</stringValue>
        </value>
    </choices>
    <choices>
        <name>Windy</name>
        <choiceText>Windy/High Winds</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Windy</stringValue>
        </value>
    </choices>
    <choices>
        <name>Work_Confined</name>
        <choiceText>Confined Space</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Confined Space</stringValue>
        </value>
    </choices>
    <choices>
        <name>Work_Elevated</name>
        <choiceText>Elevated/Aerial</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Elevated</stringValue>
        </value>
    </choices>
    <choices>
        <name>Work_Indoor</name>
        <choiceText>Indoor</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Indoor</stringValue>
        </value>
    </choices>
    <choices>
        <name>Work_Outdoor</name>
        <choiceText>Outdoor</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Outdoor</stringValue>
        </value>
    </choices>
    <choices>
        <name>Work_Underground</name>
        <choiceText>Underground/Vault</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Underground</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>IsLlmTargetable</name>
        <value>
            <stringValue>{&quot;value&quot;:&quot;true&quot;}</stringValue>
        </value>
    </customProperties>
    <description>Field Service Mobile Data Capture form for safety assessments and hazard identification. Voice-to-Form enabled for hands-free safety documentation.</description>
    <environments>Offline</environments>
    <interviewLabel>TM - Safety &amp; Hazard Check {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TM - Safety &amp; Hazard Check</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>DataCaptureFlow</processType>
    <recordLookups>
        <name>Get_Work_Order_Context</name>
        <label>Get Work Order Context</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Safety_Hazard_Check_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>parentRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>Safety assessment with voice-to-form optimized fields: multi-select checklists, picklists, narrative text inputs, and image capture</description>
        <name>Safety_Hazard_Check_Screen</name>
        <label>Safety &amp; Hazard Check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Work_Order_Context_Display</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Safety Check for:&lt;/b&gt; {!Get_Work_Order_Context.Subject}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Work Order:&lt;/b&gt; {!Get_Work_Order_Context.WorkOrderNumber}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Section_Site_Assessment</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Site Assessment&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Site_Conditions_Description</name>
            <extensionName>runtime_service_fieldservice:dcTextInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Describe overall site conditions, access, terrain, and environmental factors</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Section_PPE</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;PPE Verification&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PPE_Checklist</name>
            <choiceReferences>Hard_Hat</choiceReferences>
            <choiceReferences>Safety_Vest</choiceReferences>
            <choiceReferences>Insulated_Gloves</choiceReferences>
            <choiceReferences>Safety_Glasses</choiceReferences>
            <choiceReferences>Steel_Toe_Boots</choiceReferences>
            <choiceReferences>Ear_Protection</choiceReferences>
            <choiceReferences>Fall_Protection</choiceReferences>
            <choiceReferences>Respirator</choiceReferences>
            <extensionName>runtime_service_fieldservice:dcCbGroup</extensionName>
            <fieldText>PPE Currently In Use (Select All That Apply)</fieldText>
            <fieldType>ComponentMultiChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Additional_PPE_Needed_Text</name>
            <extensionName>runtime_service_fieldservice:dcTextInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>List any additional PPE needed that you don&apos;t currently have</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Section_Hazards</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Hazard Identification&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Hazards_Identified</name>
            <choiceReferences>Hazard_Electrical</choiceReferences>
            <choiceReferences>Hazard_Falling</choiceReferences>
            <choiceReferences>Hazard_Underground</choiceReferences>
            <choiceReferences>Hazard_Confined</choiceReferences>
            <choiceReferences>Hazard_Traffic</choiceReferences>
            <choiceReferences>Hazard_Chemical</choiceReferences>
            <choiceReferences>Hazard_Noise</choiceReferences>
            <choiceReferences>Hazard_Weather</choiceReferences>
            <choiceReferences>Hazard_Excavation</choiceReferences>
            <choiceReferences>Hazard_Biological</choiceReferences>
            <extensionName>runtime_service_fieldservice:dcCbGroup</extensionName>
            <fieldText>Hazards Identified at This Site (Select All That Apply)</fieldText>
            <fieldType>ComponentMultiChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Hazard_Description</name>
            <extensionName>runtime_service_fieldservice:dcTextInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Describe the hazards and your mitigation plan in detail</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Section_Electrical</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Electrical &amp; Utility Safety&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Electrical_Safety_Notes</name>
            <extensionName>runtime_service_fieldservice:dcTextInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Additional safety protocol notes (LOTO details, utility locate marks, clearances)</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>6</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Section_Details</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Additional Details &amp; Photo Documentation&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Final_Safety_Notes</name>
            <extensionName>runtime_service_fieldservice:dcTextInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Final safety observations, recommendations, or notes for the next technician</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Photo_Instructions</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Photo Documentation:&lt;/b&gt; Use the camera icon in the action bar to capture photos of site conditions, hazards, PPE setup, and safety concerns. Attach all photos to the work order before leaving the site.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>upload_photos</name>
            <extensionName>runtime_service_fieldservice:dcUpImage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Photos</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>useCameraOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Work_Order_Context</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>parentObjectType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>parentRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
